<h1 class="title">Cadastro de Produtos</h1>
<form action="/cadastrar" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome">
    <br>
    <label for="qtde">Quantidade</label>
    <input type="text" name="qtde">
    <br>
    <label for="preco">Preço</label>
    <input type="text" name="preco">
    <br>
    <button type="submit">Cadastrar</button>
</form>
<br>